USE [master]
GO
/****** Object:  Database [PE_PRN212_24SumB5]    Script Date: 15/12/2021 12:02:47 SA ******/
CREATE DATABASE [PE_PRN212_24SumB5]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PE_PRN212_24SumB5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PE_PRN212_24SumB5]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 15/12/2021 12:02:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 15/12/2021 12:02:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Dob] [date] NOT NULL,
	[Sex] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
	[Department] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Project]    Script Date: 15/12/2021 12:02:47 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [ntext] NULL,
	[StartDate] [date] NULL,
	[Type] [nvarchar](50) NULL,
	[Department] [int] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Department] ON 

GO
INSERT [dbo].[Department] ([Id], [Name]) VALUES (1, N'Integrated System')
GO
INSERT [dbo].[Department] ([Id], [Name]) VALUES (2, N'Software')
GO
INSERT [dbo].[Department] ([Id], [Name]) VALUES (3, N'Information Assurance')
GO
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

GO
INSERT [dbo].[Employee] ([Id], [Name], [Dob], [Sex], [Position], [Department]) VALUES (1, N'Tran Bao Han', CAST(N'1980-09-12' AS Date), N'Female', N'Developer', 1)
GO
INSERT [dbo].[Employee] ([Id], [Name], [Dob], [Sex], [Position], [Department]) VALUES (2, N'Quach Phu Thanh', CAST(N'1987-01-19' AS Date), N'Male', N'Developer', 2)
GO
INSERT [dbo].[Employee] ([Id], [Name], [Dob], [Sex], [Position], [Department]) VALUES (3, N'Chu Thanh Quang', CAST(N'1984-05-23' AS Date), N'Male', N'Leader', 1)
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

GO
INSERT [dbo].[Project] ([Id], [Name], [Description], [StartDate], [Type], [Department]) VALUES (2, N'Annual Maria DB Upgrade', N'We require our MariaDB infrastructure to remain current and supportable, We will look to upgrade to latest stable and supported versions of Mariadb. 

Our last project to migrate to Mariadb added automation to the build and deployment of databases, we will build on the back of this to patch in an efficient automated manner. ', CAST(N'2019-12-12' AS Date), N'Consulting Project', 1)
GO
INSERT [dbo].[Project] ([Id], [Name], [Description], [StartDate], [Type], [Department]) VALUES (3, N'Digital Strategy Implementation', NULL, CAST(N'2020-09-03' AS Date), N'Consulting Project', 1)
GO
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Department] FOREIGN KEY([Department])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Department]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Department] FOREIGN KEY([Department])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Department]
GO
USE [master]
GO
